.expand {
  &-vertical {
    &-enter {
      overflow-y: hidden;
      height: 0;
      opacity: 1;
      padding-top: 0;
    }
    &-enter-active {
      height: 100%;
      opacity: 1;
      transition: padding-top 0.5s ease-in-out, height 1s ease-in-out,
        opacity 1s ease-in-out;
    }
    &-exit {
      overflow-y: hidden;
      height: 100%;
      opacity: 1;
    }
    &-exit-active {
      padding-bottom: 0;
      height: 0;
      opacity: 1;
      transition: height 1s ease-in-out, opacity 1s ease-in-out;
    }
  }
}
